{%include file="html_blocks/global/header.html"%}
    <style>
        html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}
        #container{
            width:960px;
            margin:0 auto;
            padding:20px 30px;
        }
        #container h1{
            font-size: 18px;
            font-weight: bold;
            color:#060;
            line-height: 18px;
            margin-bottom: 10px;
        }
        #container h2{
            font-size: 16px;
            margin-bottom: 10px;
            line-height: 16px;
            color:#060;
        }

        #container ul{
            padding:10px;
        }

        #container ul li{
            margin-bottom:10px;
            line-height: 14px;
            color:#888;
            font-size: 14px;
        }

        #container ul li a{
            text-decoration: none;
            font-size: 14px;
        }

        #container p{
            color:#888;
            font-size: 14px;
            padding:10px;
            margin-bottom: 10px;
        }
    </style>
    <div id="container">
       <h1>欢迎使用BowlFramework</h1>
       <h2>信息：</h2>
       <ul>
           <li>当前版本：2.1</li>
           <li>发布时间：2012年4月</li>
           <li>开发：zhaotiejia@ebupt.com</li>
       </ul>
       <h2>特性：</h2>
       <p>
           根据公司PHP项目开发情况，对常用功能进行了封装。目的在于提高开发效率和质量。
       </p>
       <h2>入门和帮助</h2>
       <ul>
           <li><a href="http://10.1.60.154/dokuwiki/doku.php?id=projects:bowlframework">手册</a></li>
       </ul>
    </div>

{%include file="html_blocks/global/footer.html"%}
